﻿@model IEnumerable<WebApp.Models.InfoReporte>

@{
    ViewBag.Title = "Reporte";
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Carnet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Periodo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiglaCurso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroGrupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Veces)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creditos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoCredito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MontoTotal)
        </th>

    </tr>

    @foreach (var item in ViewBag.lista)
    {
        <tr>
            <td>
                @item.Carnet
            </td>

            <td>
                @item.Nombre
            </td>
            <td>
                @item.Tipo
            </td>
            <td>
                @item.Periodo
            </td>
            <td>
                @item.SiglaCurso
            </td>
            <td>
                @item.NumeroGrupo
            </td>
            <td>
                @item.Veces
            </td>
            <td>
                @item.Nota
            </td>
            <td>
                @item.Creditos
            </td>
            <td>
                @item.Descuento
            </td>
            <td>
                @item.CostoCredito
            </td>
            <td>
                @item.MontoTotal
            </td>

        </tr>
    }

</table>
