﻿@model IEnumerable<WebApp.Models.Estudiante>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Reporte cobros de matricula", "generarReporteCobrosMatricula")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Carnet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoCredito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Carnet)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CostoCredito)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tipo)
    </td>
    <td>
        @Html.ActionLink("Reporte Estado de Cuenta", "generarReporteEstadoCuenta", new { Carnet = item.Carnet })
    </td>
</tr>
}

</table>
