﻿@model WebApp.Models.EstudianteGrado

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>EstudianteGrado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoCredito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beca)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Carnet }) |
    @Html.ActionLink("Back to List", "Index")
</p>
