﻿@model IEnumerable<WebApp.Models.EstudianteGrado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create","EstudianteGrado",null,new { id = "create"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Carnet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoCredito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beca)
        </th>
        <th>Opciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Carnet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoCredito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beca)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Carnet }) |
                @Html.ActionLink("Details", "Details", new { id = item.Carnet }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Carnet })
            </td>
        </tr>
    }

</table>
